.download {
  padding: 10rem 1.5rem 9.5rem;
  text-align: center;
}

.download h2 {
  font-size: 2.25rem;
  letter-spacing: -0.034375rem;
}

.download .btn-row {
  margin-block-start: 2.875rem;
}

@media (max-width: 47.9375em) {
  .download {
    padding: 9.125rem 1.5rem 10.625rem;
  }

  .download .btn-row {
    margin-block-start: 2.5625rem;
  }

  .download h2 {
    font-size: 1.75rem;
  }
}
