.access {
  padding-block-start: 9.5rem;
  text-align: center;
}

.access h2 {
  font-size: 2.25rem;
  letter-spacing: -0.034375rem;
}

.access__image {
  margin: 6.75rem auto 0;
  height: auto;
}

@media (max-width: 47.9375em) {
  .access {
    padding-block-start: 11.4375rem;
  }

  .access h2 {
    font-size: 1.75rem;
    padding-inline: 1.5rem;
  }

  .access__image {
    margin-block-start: 3.0625rem;
    padding-inline: 1.5rem;
  }
}
