.hero {
  position: relative;
  text-align: center;
  padding: 130px 24px 0;
}

.hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.hero__bg img {
  width: 100%;
  height: auto;
}

.hero__logo {
  margin: 0 auto;
}

.hero__title {
  margin: 60px auto 0;
  font-size: 46px;
  line-height: 1.3;
  letter-spacing: -0.7px;
}

.hero__text {
  margin: 18px auto 0;
  max-width: 730px;
  font-size: 20px;
  line-height: 1.5;
  color: var(--Gray-500);
  letter-spacing: 0.1px;
}

.hero .btn-row {
  margin-top: 41px;
}

@media (max-width: 767px) {
  .hero {
    padding-top: 123px;
  }

  .hero__title {
    margin-top: 64px;
    font-size: 32px;
  }

  .hero__text {
    margin-top: 16px;
    font-size: 16px;
    line-height: 1.65;
  }

  .hero .btn-row {
    margin-top: 44px;
  }
}
